// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

$purple_1: #291d44;
$purple_1_5: #392173;
$purple_2: #4b2989;
$purple_3: #5a30a7;
$purple_4: #6c3ac7;
$purple_5: #7645d9;
$purple_6: #8c6ce6;
$purple_7: #aa96ef;
$purple_8: #c6bcf6;
$purple_9: #dfdafa;
$purple_10: #edebfc;
$purple_11: #f6f4fe;
$nix_blue_dark: #4a6cae;
$nix_blue_shadow: #1f4483;
$nix_blue_light: #7fb7e5;

window.Bar {
    background: transparent;
    color: $purple_11;
    font-weight: bold;

    >centerbox {

        background: rgba($purple_1, 0.7);
        margin: 10px 8px 0 8px;
        border: 2px solid rgba($purple_6, 0.85);
        border-radius: 10px;

        .launcher-container {
            button {
                background: $nix_blue_dark;
                color: $nix_blue_light;
                border: 1px solid $nix_blue_light;
                padding: 0 0.6em 0 0.2em;
                font-size: 2em;
                text-shadow: 1px 1px 2px $nix_blue_shadow;

                &:hover {
                    background: rgba($nix_blue_dark, .8);
                    color: rgba($nix_blue_light, .8);
                    border: 1px solid rgba($nix_blue_light, .8);
                }

                &:active {
                    background: rgba($nix_blue_dark, .6);
                    color: rgba($nix_blue_light, .6);
                    border: 1px solid rgba($nix_blue_light, .6);
                }
            }
        }

    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}

.center-container {
    separator {
        margin: 0 1em;
        background: $purple_6;
    }
}