@import "globals";

window.Bar {
  background: transparent;
  color: $purple_11;
  font-weight: bold;

  >centerbox {

    background: rgba($purple_1, .7);
    margin: 10px 8px 0 8px;
    border: 2px solid rgba($purple_6, .85);
    border-radius: 10px;

  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

.start-container {
  separator {
    background: $purple_6;
    margin-right: .5em;
  }
}

.center-container {
  separator {
    margin: 0 1em;
    background: $purple_6;
  }
}
