@import "globals";

.confirmation-dialog-container {
  background: rgba($purple_1, .8);
  border: 1px solid $purple_6;

  .confirmation-dialog-title {
    background: rgba($purple_2, .8);
    border-bottom: 1px solid $purple_6;
    padding: 1em;
    label {
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  .confirmation-dialog-message-container {
    padding: 1em;
  }

  .confirmation-dialog-buttons-container {
    padding: 1em;
  }
}