$purple_1: #291d44;
$purple_1_5: #392173;
$purple_2: #4b2989;
$purple_3: #5a30a7;
$purple_4: #6c3ac7;
$purple_5: #7645d9;
$purple_6: #8c6ce6;
$purple_7: #aa96ef;
$purple_8: #c6bcf6;
$purple_9: #dfdafa;
$purple_10: #edebfc;
$purple_11: #f6f4fe;
$nix_blue_dark: #4a6cae;
$nix_blue_shadow: #1f4483;
$nix_blue_light: #7fb7e5;
