@import "globals";

.launcher-container {
  margin: .1em;
  button {
    background: $nix_blue_dark;
    color: $nix_blue_light;
    border: 1px solid $nix_blue_light;
    padding: 0 0.6em 0 0.2em;
    font-size: 1.75em;
    text-shadow: 1px 1px 2px $nix_blue_shadow;

    &:hover {
      background: rgba($nix_blue_dark, .8);
      color: rgba($nix_blue_light, .8);
      border: 1px solid rgba($nix_blue_light, .8);
    }

    &:active {
      background: rgba($nix_blue_dark, .6);
      color: rgba($nix_blue_light, .6);
      border: 1px solid rgba($nix_blue_light, .6);
    }
  }
}