@import "globals";

.settings-window {
  background: rgba(0, 0, 0, 0);
}

.settings-menu {
  background: rgba($purple_1, .8);
  border: 1px solid $purple_6;

  >* {
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
  }

  >*:first-child {
    padding-top: .5em;
  }
}
