@import "globals";

.tray-icon {
  background: $purple_3;
  color: $purple_10;
  border: 1px solid $purple_6;

  &:hover {
    background: rgba($purple_3, .8);
    color: rgba($purple_6, .8);
    border: 1px solid rgba($purple_6, .8);
  }

  &:active {
    background: rgba($purple_3, .6);
    color: rgba($purple_6, .6);
    border: 1px solid rgba($purple_6, .6);
  }
}

menu {
  background: rgba($purple_1, .8);
  color: $purple_6;
  border: 1px solid rgba($purple_6, .8);

  :hover {
    background: $purple_6;
    color: $purple_1;
  }

  separator {
    background: $purple_6;
  }
}
