@import "globals";

.workspaces-container {
  background: rgba($purple_3, .4);
  padding: .5em;
  border-radius: 0.5em;
  border: 1px solid $purple_6;


  .workspace-btn {
    padding: 0;
    min-height: 1em;
    min-width: 1em;
    border-radius: 1em;
    background: transparent;
    border: 1px solid $purple_6;

    &.workspace-focused {
      min-width: 3em;
    }

    &.workspace-occupied {
      background: $purple_6;

      &:hover {
        background: rgba($purple_6, .8);
      }

      &:active {
        background: rgba($purple_6, .6);
      }
    }
  }
}